/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* VARIABLES */
:root{
    /* COLORS */
    --primary-color: hsl(0, 0%, 3%); 
    --light-gray-color: hsl(0, 0%, 80%);
    --dark-gray-color: hsl(0, 1%, 47%);
    --blue-color : hsl(214, 82%, 49%); 
    --white-color : hsl(0, 0%, 100%);

    /* GOOGLE BTN */
    --font-color-btn-google: hsl(0, 0%, 12%);
    --border-btn-google-color: hsl(140, 1%, 46%);
    --background-color-google-btn: hsl(210, 17%, 98%);

    /* APPLE BTN */
    --background-color-apple-btn: hsl(0, 0%, 0%);
    --background-color-apple-btn-hover: hsl(0, 0%, 20%);

    /* BACKGROUND COLORS */
    --background-color: hsl(0, 23%, 95%); 

    /* FONT-WEIGHT */
    --big-font-weight: 800; 
    --medium-font-weight: 600; 
    --middle-font-weight: 500; 
    --small-font-weigt: 400; 
}

/* BASE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

/* BODY */
body{
    height: 100vh;
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

/* LOGIN */
.login{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formular{
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* IMAGE CONTAINER */
.image-container{
    width: 45%;
    height: 100%;
}
.image-login{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}
    /* SIGN IN */
.login-container{
    width: 55%;
    height: 100%;
    padding: 32px; 
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin-bottom: 75px; 
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: var(--medium-font-weight);
    color: var(--primary-color);
}
.input-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name-container{
    width: 100%;
    display: flex;
    gap: 10px;
}
.input-content{
    width: 100%;
    padding: 10px;
    flex: 1;
    text-align: right;
}
.input-wrapper{
    position: relative;
    width: 100%;
}
.input-login{
    width: 100%;
    padding: 12px;
    border: 1px solid var(--light-gray-color);
    border-radius: 8px;
    font-size: 1em;
    background-color: transparent;
}
input:focus + label,
input:not(:placeholder-shown) + label{
    top: -10px;
    left: 10px;
    font-size: .9em;
    color: var(--blue-color);
    background-color: var(--background-color);
    padding: 0 5px;
    z-index: 1;
}
label{
    position: absolute;
    top: 20%;
    left: 10px;
    font-size: 1em;
    color: var(--light-gray-color);
    transition: all .2s ease-out;
    pointer-events: none;
}
input:focus{
    font-size: 1em;
    border: 1px solid var(--blue-color);
    letter-spacing: 1.2px;
}
.password-toggle{
    position: absolute;
    top: 50%;
    right: 15px; 
    transform: translateY(-50%);
    font-size: 1.2em; 
    color: var(--light-gray-color); 
    transition: color .2s ease-out;
    cursor: pointer;
}
.password-toggle:hover{
    color: var(--blue-color);
}
    /* SIGN IN BTN CONTAINER */
.bottom-login{
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-login{
    width: 50%;
    margin-top: 25px;
    padding: 14px 25px;
    border: 2px solid transparent;
    border-radius: 24px;
    font-size: 1em;
    font-weight: var(--small-font-weigt);
    color: var(--white-color);
    background-color: var(--blue-color);
    transition: .3s ease-out;
    cursor: pointer;
}
.btn-login:hover{
    border: 2px solid var(--blue-color);
    color: var(--blue-color);
    background-color: var(--white-color);
}
.other-btn-signin{
    width: 100%;
    margin: 25px;
}
    /* OTHER SIGN IN */
.other-btn-signin-container{
    padding: 15px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.line{
    width: 40%;
    height: 1px;
    background-color: var(--light-gray-color);
}
.btn-signin{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}
.btn{
    width: 210px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
    /* GOOGLE BTN */
.google-btn{
    padding: 0 12px;
    border: 1px solid var(--border-btn-google-color);
    border-radius: 24px;
    font-size: 1em;
    color: var(--font-color-btn-google);
    background-color: var(--background-color-google-btn);
    transition: background-color 0.3s ease;
}
.google-btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}
.google-logo{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}
.roboto-medium{
    font-family: "Roboto", sans-serif;
    font-weight: var(--middle-font-weight);
    font-style: normal;
}
    /* APPLE BTN */
.apple-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 24px;
    font-size: 1em;
    font-weight: var(--medium-font-weight);
    color: var(--white-color);
    background-color: var(--background-color-apple-btn);
    cursor: pointer;
    transition: background-color .3s ease;
}
.apple-btn i{
   margin-right: 10px;
}
.apple-btn:hover{
    background-color: var(--background-color-apple-btn-hover);
   
}
.text{
    font-size: 1em;
}
.link{
    color: var(--blue-color);
    transition: .3s ease-in;
}
.link:hover{
    font-weight: var(--middle-font-weight);
}

/* LOGIN */
.hidden{
    display: none;
}
.fade-in{
    display: block;
    opacity: 0;
    animation: fadeIn .5s forwards;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.text-pwd{
    position: relative;
    top: 10px;
    right: .5em;
    border-bottom: 1px solid var(--light-gray-color);
    color: var(--light-gray-color);
    font-weight: var(--small-font-weigt);
    cursor: pointer;
    transition: color .3s ease;
}
.text-pwd:hover{
    border-bottom: 1px solid var(--dark-gray-color);
    color: var(--dark-gray-color);
}
.other-btn{
    width: auto;
}

    /* BREAKPOINTS */
@media screen and (max-width: 1330px){
    .btn-signin{
        justify-content: space-between;
    }
}
@media screen and (max-width: 1245px){
    .formular{
        padding: 10px;
    }
    .login-container{
        padding: 15px 0; 
    }
}
@media screen and (max-width: 1120px){
    .title{
        font-size: 1.7em;
    }
    .text,
    .input-login,
    label,
    input:focus,
    .google-btn,
    .apple-btn{
        font-size: .9em;
    }
    .btn-login{
        padding: 12px 23px;
        font-size: .9em;
    }
}
@media screen and (max-width: 1078px){
    .input-containe,
    .bottom-login{
        width: 90%;
    }
    .login-container{
        padding: 75px 0; 
        gap: 0;
    }
}
@media screen and (max-width: 962px){
    .btn-signin{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .btn{
        margin: 10px 0;
    }
    .other-btn{
        width: 210px;
    }
}
@media screen and (max-width: 867px){
    .title{
        font-size: 1.5em;
    }
    .text,
    .input-login,
    label,
    input:focus,
    .google-btn,
    .apple-btn{
        font-size: .875em;
    }
    .btn-login{
        font-size: .875em;
    }
    .input-containe,
    .bottom-login{
        width: 100%;
    }
}
@media screen and (max-width: 819px){
    .name-container{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 768px){
    .formular{
        padding: 0;
    }
    .image-container {
        display: none;
    }
    .login-container {
        width: 100%;
    }
    .name-container{
        display: flex;
        flex-direction: row;
    }
    .btn-signin{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
@media screen and (max-width: 600px){
    .title{
        margin-bottom: 25px;
    }
    .login-container{
        padding: 0; 
    }
    .bottom-login{
        padding: 3px 10px; 
    }
    .other-btn-signin{
        margin: 0;
    }
    .other-btn-signin-container{
        padding:  10px; 
    }
    .btn-signin{
        padding: 0;
    }
}
@media screen and (max-width: 500px){
    .name-container{
        display: flex;
        flex-direction: column;
    }
    .btn-signin{
        width: 100%;
        flex-direction: column;
    }
}
@media screen and (max-width: 450px){
    .title{
        font-size: 1.2em;
    }
    .text,
    .input-login,
    label,
    input:focus,
    .google-btn,
    .apple-btn{
        font-size: .8em;
    }
    .btn-login{
        font-size: .8em;
    }
}
@media screen and (max-width: 375px){
    .title{
        margin-bottom: 5px;
    }
    .btn-login{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }
    .input-content{
        padding: 5px 10px;
    }
}